#menuBtn,
nav a,
footer,
header {
    display: block;
    color: #fff;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav a,
footer,
header {
    background-color: #046;
    text-decoration: none;
    padding: 0.5rem;
}
#navMenu ul,
.branding {
    display: flex;
}
body,
html {
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    line-height: 1.4;
    background: #f9f9f9;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    /* Body & typography */
}
main {
    margin: 0 auto;
    max-width: 1000px;
    min-height: 60vh;
}
header {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}
.branding {
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}
.logo {
    width: 50px;
    height: 50px;
}
#menuBtn {
    background: 0 0;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.25rem 0.5rem;
}
#navMenu {
    border-top: 1px solid #fff;
    width: 100%;
}
nav#navMenu ul {
    list-style: none;
    flex-direction: row;
    gap: 1rem;
    padding: 0;
    margin-top: 0.5rem;
}
#navMenu a:hover {
    background-color: #fc0;
    color: #046;
}
#navMenu .active {
    text-decoration: underline;
    text-underline-offset: 4px;
    font-weight: 700;
    color: #fff;
}
nav.hide {
    display: none !important;
}
footer {
    flex-direction: column;
    padding: 2rem;
    min-height: 300px;
}
.footer-socials a {
    display: inline-block;
    width: 30px;
    height: 30px;
    gap: 1rem;
    margin: 1rem 0;
    min-height: 50px;
}
.footer-socials img {
    filter: brightness(0) invert(1);
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.footer-center.socials img:hover {
    filter: none;
}

h1{
    text-align: center;
    
}