
.view-buttons {
    margin: 1rem auto;
    padding: 0.5rem;
    text-align: center;
    height: 100px;
}
.grid,
.list {
    padding: 1rem;
}
.view-buttons button {
    padding: 0.5rem 1rem;
    height: 50px;
    cursor: pointer;
    border: none;
    background-color: #dad8d8;
    transition: background-color 0.3s;
}
.view-buttons button.active {
    background-color: #85c7f082;
    font-weight: 700;
    color: #000;
    border: 1px solid #000;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}
.grid section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    text-align: center;
    padding: 0.5rem;
}

.placeholder {
    height: 300px;
    background: grey;
}

.grid img {
    max-width: 200px;
    height: 200px;
    object-fit: cover;
}
.grid h2,
.list img {
    display: none;
}
.list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.list section {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #ddd;
    padding: 0.5rem;
    align-items: center;
}
.list section:nth-child(2n) {
    background-color: #bbb;
}
.list h2 {
    display: block;
    font-size: medium;
    font-weight: 400;
}
