h1{
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
  padding: 1rem;
}

fieldset {
  border: 2px solid #046;
  padding: 1rem;
  border-radius: 8px;
}

label {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.membership-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.card {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: transform 0.5s ease;
  background: #f9f9f9;
}
.card:hover {
  transform: scale(1.05);
  background-color: #eef;
}

dialog {
  padding: 1rem;
  border: 2px solid #046;
  border-radius: 10px;
  max-width: 300px;
}

button {
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: #046;
  color: white;
  border: none;
  border-radius: 5px;
}
