@media screen and (min-width: 768px) {
    header, footer {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    
    footer,#navMenu ul,header {
        display: flex;
        flex-direction: row;
    }
    #navMenu ul {
        gap: 2rem;
        margin-top: 0;
    }
    #menuBtn {
        display: none;
    }
    #navMenu {
        display: block !important;
        border-top: none;
    }
    form {
        min-width: 500px;
        max-width: 800px;
        }

    fieldset {
        min-width: 400px;
        max-width: 700px;
        }
    
    label {
        min-width: 400px;
        max-width: 650px;
    }

    .hero {
        grid-column: 1 / -1;
    }
    
    .membership {
    flex-direction: column;
  }

  .membership-cards {
    display: grid;
    grid-template-columns: 1fr;
  }

   .discover-grid {
    
  }


    .visit-info {
    background-color: #e7f9ff;
    border: 1px solid #b3e5fc;
    padding: 1rem;
    margin: 1rem;
    border-radius: 8px;
    }

    #visit-message {
    font-size: 1rem;
    color: #004e64;
    margin: 0;
}
}


