.hero {
  margin: 0 auto;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.hero-img {
  width: 400px;
  height: auto;
  display: block;
}
.hero-text {
  position: absolute;
  left: 40px;
  bottom: 20px;
  
}
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  background: #0f5443;
  color: #fff;
  padding: 0.4rem;
  border-radius: 6px;
  text-decoration: none;
  border: 2px solid white;
}

/* Main Title */
.main-title,
main > h1 {
  margin: 0 auto;
  text-align: center;
  -size: 2rem;
  font-weight: bold;
}
.content-wrapper{
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem; /* Adds space at the bottom */
}
.content-row {
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  /* Default mobile layout: stack */
  grid-template-columns: 1fr;
  grid-template-areas:
    "text"
    "image";
  align-items: center;
  justify-content: center;
}

/* Assign grid areas */
.text-block {

  grid-area: text;
  text-align: left;
}

.image-block {
  grid-area: image;
  text-align: center;
  padding: 1rem;
}
.content-section{
    max-width: 310px;
    text-align: center;
    border: 1px solid;
    padding: 1rem;
    gap:1rem;
    margin: 0 auto;
}
ul {
  list-style-type: none; /* removes the bullet points */
}
li {
  margin-top: 1rem; /* space between each item */
}

