
/* Forms */
form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
fieldset {
    border: 2px solid #0f5443;
    padding: 1rem;
}
label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5rem;
}
input, textarea {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
.membership-radios label {
  display: flex;
  flex-direction: row;
  align-items: center;  /* vertically center the radio */
  gap: 0.5rem;          /* space between radio and text */
  cursor: pointer;       /* pointer when hovering over label */
}


/* Membership Cards */
.membership-cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.membership-cards .card {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 6px;
}
.card { 
  padding:1rem;
  border-radius:10px;
  box-shadow:0 4px 8px rgba(0,0,0,.18);
  min-width:200px;
  background-color:#f0f9ff;
  user-select:none;
  cursor:default;
  animation:.6s forwards fadeInOpacity;
}
.card button, button[type=submit] {
  background-color:#0f5443;
  color:#fff;
  padding:.75rem 1rem;
  border-radius:5px;
  border:none;
  font-weight:600;
  cursor:pointer;
  transition: background-color .3s, color .3s;
}
#benefitsModal {
  box-sizing:border-box;
  width:300px;
  max-width:80vw;
  border:none;
  border-radius:8px;
  box-shadow:0 0 10px rgba(0,0,0,.25);
  font-family:sans-serif;
  visibility:hidden;
  transform:translateY(-10px);
  transition:opacity .3s,transform .3s,visibility .3s;
}
#benefitsModal[open] {
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}
.card button:focus,
.card button:hover,
button[type=submit]:focus,
button[type=submit]:hover {
    background-color: #00b3ff;
    color: #000;
    outline: 0;
}
/* Red border for required fields that are empty or invalid */
input:required:invalid,
textarea:required:invalid {
  border: 2px solid #ff4d4d; /* red */
}

/* Green border for valid required fields */
input:required:valid,
textarea:required:valid {
  border: 2px solid #3c3; /* green */
}