/* Medium screens */
@media screen and (min-width: 641px) {
    #navMenu ul, footer, header {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    #menuBtn { display: none; }
    #navMenu { display: block !important; border-top: none; }
    
    .content-row {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "text image";
    }
    .content-section {
        max-width: 700px;
    }
  

    /* Footer layout for medium screens */
    footer {
        grid-template-columns: 1fr auto 1fr;
        grid-template-areas: "left socials right";
        align-items: center;
        text-align: center;
    }
    .discover-grid {
    grid-template-columns: repeat(2, 1fr); /* Medium: 2 cards per row */
  }
}

/* Large screens */
@media screen and (min-width: 1024px) {
    .content-wrapper { max-width: 1000px; }
    .content-section { max-width: 1000px; }
    .discover-grid {
    grid-template-columns: repeat(3, 1fr); /* Medium: 2 cards per row */
  }
    
}
