@media (min-width: 600px) {
  #menuToggle {
    display: none;
  }
  
  .nav-menu {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  header {
    padding: 1rem 3rem;
  }

  main {
    max-width: 900px;
  }
}
