/* styles/larger.css */

@media (min-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: center;
  }

  .about-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
  }

  .filters {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .course-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .course-cards .card {
    width: 30%;
  }

  header,
  footer {
    text-align: center;
  }

  .student-photo img {
    max-width: 100%;
  }
}
